# This file exists to stop the addition of forbidden files into the github
# respository, such as images, movies, and various dotfiles (such as .DS_store
# on mac).


# Ignore specific folders. 
data/images/
# Ignore stan exe, .hpp, .o, etc...
**/stan/*
# ...but don't ignore the actual stan files
!**/stan/*.stan

#Ignore trash dotfiles.
*.DS_store

#Ignore latex garbage.
*.swp
*.log
*.blg
*.aux
*.bbl
*.fdb_latexmk
*.fls
*.gz

#Ignore images
*.jpg
*.tif*
*.png
*.eps
*.svg
*.bmp
*.hdr
# also html, e.g., bokeh output and converted .ipynbs
*.html

#Ignore movies and audio
*.mp4
*.mov
*.avi
*.wav
*.mp3

#Ignore Microsoft, Apple, and PDF documents.
*.ppt*
*.doc*
*.xsl*
*.numbers
*.pages
*.key
*.pdf
*.ai

#Ignore various code garbage.
*.pyc
.ipynb_checkpoints/
**/.ipynb_checkpoints/
__pycache__/
**/__pycache__/
.cache
*.egg*

# Also zips & pickles. Add manually if you really want, since they won't diff well.
*.zip
*.pkl
*.nc

# Ignore altair .json plotting outputs
*altair*.json

# Ignore segmentation status outfiles
*seg_status.out*